@media screen and (max-width: 48.0rem) {
    .header__inner {
        flex-direction: column;
        align-items: center;
    }
}
.banner__inner {
    background-image: url(../img/banner_bg01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding: 7.5rem 0;
    color: #fff;
}
.banner__inner .title {
    font-size: 3.125rem;
    line-height: 1;
    font-weight: 300;
    margin-bottom: 2.5rem;
}
.banner__inner .desc {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 4.375rem;
}
.banner__inner .desc a {
    display: block;
    color: #fff;
}
.banner__inner .small {
    font-size: 1.0rem;
    text-decoration: underline;
}