@media screen and (max-width: 48.0rem) {
    .header__inner {
        flex-direction: column;
        align-items: center;
    }
}
.imgText__inner {
    display: flex;
    justify-content: space-between;
}
.imgText__inner > div {
    width: 32%;
    height: 31.25rem;
}
.imgText__txt .small {
    font-size: 1.0rem;
    color: #666;
    text-decoration: underline;
    margin-bottom: 1.25rem;
    display: block;
    text-align: left;
}
.imgText__txt .title {
    font-size: 3.125rem;
    font-weight: 300;
    word-break: keep-all;
    line-height: 1.4;
    margin-bottom: 1.25rem;
}
.imgText__txt .desc {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.5;
    color: #666;
    margin-bottom: 0.625rem;
}
.imgText__txt .list {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.6;
}
.imgText__txt .list li {
    position: relative;
    padding-left: 1.25rem;
}
.imgText__txt .list li::before {
    content: '';
    width: 0.3125rem;
    height: 0.3125rem;
    background: #666;
    border-radius: 50%;
    position: absolute;
    left: 0.3125rem;
    top: 0.5625rem;
}
.imgText__txt .list li a {
    color: #666;
}
.imgText__img {
    border-radius: 0.625rem;
    position: relative;
}
.imgText__img a {
    background-color: #7C2B39;
    color: #fff;
    padding: 0.625rem 1.875rem;
    font-size: 1.125rem;
    border-radius: 1.875rem;
    display: inline-block;
    position: absolute;
    left: 1.875rem;
    bottom: 1.875rem;
}
.imgText__img a.blue {
    background-color: #2B387C;
}
.imgText__img.img1 {
    background: url(../img/imgText_bg01.jpg) no-repeat center / cover;
}
.imgText__img.img2 {
    background: url(../img/imgText_bg02.jpg) no-repeat center / cover;
}