}
.slider {
    position: relative;
}
.slider__img {
    background: url(../img/IT_tc02040000075.jpg) no-repeat center center / cover;
}
.slider__img .desc {
    width: 1160px;
    margin: 0 auto;
    padding: 100px 20px;
}
.slider__img .desc span {
    font-size: 50px;
    background-color: #ffffff;
    padding: 1px 14px 0 14px;
    border-radius: 30px;
    text-transform: uppercase;
    margin-bottom: 3px;
    display: inline-block;
}
.slider__img .desc h3 {
    font-size: 110px;
    font-weight: 300;
    line-height: 3;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 16px;
    margin-left: -8px;
}
.slider__img .desc p {
    font-size: 20px;
    font-weight: 300;
    color: #000000;
    line-height: 1.35;
    margin-bottom: 10px;
}
.slider__img .desc .btn a {
    font-size: 16px;
    background: #fff;
    padding: 11px 50px;
    display: inline-block;
}
.slider__img .desc .btn a.black {
    background: #000;
    color: #fff;
}
.slider__arrow a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 56px;
    background-image: url(../img/IT_tc02040000075.svg);
}
.slider__arrow a.left {
    left: 20px;
}
.slider__arrow a.right {
    right: 20px;
    background-position: -50px 0;
}
.slider__dot {
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
}
.slider__dot a {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/IT_tc02040000075.svg);
    background-position: -20px -70px;
}
.slider__dot a.active {
    background-position: 0px -70px;
}
.slider__dot a.play {
    background-position: -40px -70px;
}
.slider__dot a.stop {
    background-position: -60px -70px;
}   
    .header, .footer {
        padding: 10px;
    }
    .card {
        width: 100%;
        margin: 5px 0;
    }
    .banner, .imgText {
        display: block;
        width: 100%;
    }
}

    .header, .footer {
        padding: 8px;
    }
    .card, .banner, .imgText {
        width: 100%;
        margin: 4px 0;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}

    .header, .footer {
        padding: 15px;
    }
    .card {
        width: calc(50% - 10px);
        margin: 5px;
    }
    .banner, .imgText {
        width: 100%;
        padding: 10px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 85%;
    }

@media screen and (max-width: 768px) {
    .header__inner {
        flex-direction: column;
        align-items: center;
    }

@media (max-width: 768px) {
    body {
        font-size: 90%;
    }

@media (max-width: 1024px) {
    .container {
        padding: 15px;
    }