@media screen and (max-width: 48.0rem) {
    .header__inner {
        flex-direction: column;
        align-items: center;
    }
}
.text__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.text {
    width: 32%;
    margin-bottom: 2%;
    padding: 1.25rem;
    box-sizing: border-box;
    border-radius: 0.625rem;
    transition: background 0.3s;
}
.text:hover {
    background: #F5F5F5;
}
.text__title {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.625rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 4.6875rem;
    position: relative;
}
.text__title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 3.75rem;
    height: 3.75rem;
    background: url(../img/text_icon.svg);
}
.text.t1 .text__title::before {
    background-position: 0 0;
}
.text.t2 .text__title::before {
    background-position: -3.75rem 0;
}
.text.t3 .text__title::before {
    background-position: -7.5rem 0;
}
.text.t4 .text__title::before {
    background-position: -11.25rem 0;
}
.text.t5 .text__title::before {
    background-position: -15.0rem 0;
}
.text.t6 .text__title::before {
    background-position: -18.75rem 0;
}
.text__desc {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 1.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    color: #666;
}
.text__btn {
    font-size: 1.0rem;
    line-height: 1;
    text-decoration: underline; 
    text-underline-position: under;
    color: #666;
}